{:db       :memory
 :features {:content true :ssr true :markdownc true :auth false}
 :name     "my-app"

 :must-exist     ["src/clj/my_app/main.clj"
                  "src/clj/my_app/config.clj"
                  "src/clj/my_app/content.clj"
                  "src/clj/my_app/prerender.clj"
                  "src/cljc/my_app/schema.cljc"
                  "src/cljc/my_app/markdownc.cljc"
                  "src/cljs/my_app/main.cljs"
                  "src/cljs/my_app/content_page.cljs"
                  "content/blog"
                  "package.json"
                  "bin/db"
                  "deps.edn"
                  "LICENSE"
                  "README.md"]

 :must-not-exist ["bin/db.template.memory"
                  "bin/db.template.sqlite"
                  "bin/db.template.postgres"
                  "bin/db.template.datomic-pro"
                  "c3kit-template.edn"
                  "c3kit-template.bb"
                  "README.scaffold.md"
                  ".c3kit-create-context.edn"
                  ;; auth feature off
                  "src/clj/my_app/user.clj"
                  "src/clj/my_app/user/"
                  "src/clj/my_app/session.clj"
                  "src/clj/my_app/destination.clj"
                  "src/cljc/my_app/user/"
                  "src/cljs/my_app/user.cljs"
                  "src/cljs/my_app/forgot_password.cljs"
                  "src/cljs/my_app/recover_password.cljs"
                  "spec/clj/my_app/user/"
                  "spec/clj/my_app/session_spec.clj"
                  "spec/clj/my_app/destination_spec.clj"
                  "spec/cljs/my_app/user_spec.cljs"
                  "spec/cljs/my_app/forgot_password_spec.cljs"
                  "spec/cljs/my_app/recover_password_spec.cljs"]

 :file-contains  {"src/clj/my_app/config.clj" ["memory-local"
                                                ":bucket memory-local"
                                                "MyApp"]
                  "src/clj/my_app/main.clj"   ["my_app.content"
                                               "my_app.prerender"]
                  "deps.edn"                  ["com.cleancoders.c3kit/apron"
                                               "markdown-to-hiccup"]
                  "bin/db"                    ["In-memory backend"]}

 :file-not-contains {"src/clj/my_app/config.clj" ["sqlite-local"
                                                   "datomic-local"
                                                   "postgres-local"
                                                   "replaced by line below at scaffold"]
                     "src/clj/my_app/http.clj"   ["wrap-jwt"
                                                  "wrap-anti-forgery"
                                                  "session/wrap"]
                     "src/cljc/my_app/schema.cljc" ["user.schema/all"]
                     "deps.edn"                   ["my.datomic.com"
                                                   "aws-java-sdk"
                                                   "@c3kit/"]}}
