{:paths ["src" "spec"]
 :deps  {org.clojure/tools.cli {:mvn/version "1.1.230"}
         speclj/speclj         {:mvn/version "3.12.0"}}
 :tasks
 {c3kit-create {:doc      "Run the CLI from source. e.g. bb c3kit-create --help"
                :requires ([c3kit-create.main]
                           [babashka.fs :as bfs])
                :task     (let [dir-with-templates? (fn [d]
                                                      (and (bfs/exists? d)
                                                           (some (fn [sub] (and (bfs/directory? sub)
                                                                                (bfs/exists? (bfs/path sub "c3kit-template.edn"))))
                                                                 (bfs/list-dir d))))
                                default-dir         (first (filter dir-with-templates?
                                                                   ["../templates" "test-fixtures"]))
                                user-set?           (some (fn [a] (= a "--template-dir")) *command-line-args*)
                                args                (if (and default-dir (not user-set?))
                                                      (concat ["--template-dir" default-dir] *command-line-args*)
                                                      *command-line-args*)]
                            (apply c3kit-create.main/-main args))}
  test       {:doc      "Run all tests"
              :requires ([speclj.cli])
              :task     (speclj.cli/run "-c" "spec")}
  build      {:doc      "Build cli/dist/c3kit-create.bb"
              :requires ([babashka.fs :as fs])
              :task     (let [out "dist/c3kit-create.bb"]
                          (fs/create-dirs "dist")
                          (fs/delete-if-exists out)
                          (shell "bb" "uberscript" out "-m" "c3kit-create.main")
                          (spit out (str "#!/usr/bin/env bb\n" (slurp out)))
                          (fs/set-posix-file-permissions out "rwxr-xr-x"))}
  lint       {:doc  "Run clj-kondo"
              :task (shell "clj-kondo" "--lint" "src" "spec")}
  install    {:doc     "Build CLI from local source and install it via install.sh (same path users use)"
              :depends [build]
              :task    (let [bb-file (.getAbsolutePath (clojure.java.io/file "dist/c3kit-create.bb"))]
                         (shell {:extra-env {"C3KIT_LOCAL_BB" bb-file}}
                                "bash" "install.sh"))}}}
