{:db       :memory
 :features {:content true :ssr true :markdownc true :auth false}
 :name     "my-app"

 :must-exist     ["src/clj/my_app/main.clj"
                  "src/clj/my_app/config.clj"
                  "src/clj/my_app/content/core.clj"
                  "src/clj/my_app/ssr/prerender.clj"
                  "src/cljc/my_app/schema.cljc"
                  "src/cljc/my_app/markdownc.cljc"
                  "src/cljs/my_app/main.cljs"
                  "src/cljs/my_app/content/page.cljs"
                  "dev/my_app/seed.clj"
                  "content/blog"
                  "package.json"
                  "bin/db"
                  "deps.edn"
                  "LICENSE"
                  "README.md"]

 :must-not-exist ["bin/db.template.memory"
                  "bin/db.template.sqlite"
                  "bin/db.template.postgres"
                  "bin/db.template.datomic-pro"
                  "c3kit-template.edn"
                  "c3kit-template.bb"
                  "README.scaffold.md"
                  ".c3kit-jig-context.edn"
                  ;; auth feature off
                  "src/clj/my_app/auth/"
                  "src/cljc/my_app/auth/"
                  "src/cljs/my_app/auth/"
                  "spec/clj/my_app/auth/"
                  "spec/cljs/my_app/auth/"]

 :file-contains  {"src/clj/my_app/config.clj" ["memory-local"
                                               ":bucket memory-local"
                                               "MyApp"]
                  "src/clj/my_app/main.clj"   ["my-app.content.core"
                                               "my-app.ssr.prerender"]
                  "deps.edn"                  ["com.cleancoders.c3kit/apron"
                                               "markdown-to-hiccup"
                                               "my-app.compile-cljs"]
                  "bin/db"                    ["In-memory backend"]}

 :file-not-contains {"src/clj/my_app/config.clj" ["sqlite-local"
                                                  "datomic-local"
                                                  "postgres-local"
                                                  "replaced by line below at scaffold"]
                     "src/clj/my_app/http.clj"   ["wrap-jwt"
                                                  "wrap-anti-forgery"
                                                  "session/wrap"]
                     "src/cljc/my_app/schema.cljc" ["user.schema/all"]
                     "deps.edn"                   ["my.datomic.com"
                                                   "aws-java-sdk"
                                                   "@c3kit/"]
                     "dev/my_app/seed.clj"        ["(prn \"other-fields: "
                                                   "(prn \"e: "]}}
