{:db       :memory
 :features {:content true :ssr true :markdownc true :auth true :websocket false}
 :name     "my-app"

 :must-exist     ["src/clj/my_app/main.clj"
                  "src/clj/my_app/config.clj"
                  "src/cljs/my_app/main.cljs"
                  "src/cljs/my_app/auth/user.cljs"
                  "src/cljs/my_app/forms.cljs"
                  "bin/db"
                  "deps.edn"
                  "LICENSE"
                  "README.md"]

 :must-not-exist ["c3kit-template.edn"
                  "c3kit-template.bb"
                  "README.scaffold.md"
                  ".c3kit-jig-context.edn"]

 :file-contains  {"src/clj/my_app/config.clj"        ["memory-local"
                                                      ":bucket memory-local"
                                                      "MyApp"]
                  "src/clj/my_app/main.clj"          ["my-app.content.core"
                                                      "my-app.auth.user.web"]
                  "src/cljs/my_app/auth/user.cljs"   ["install-and-connect!"
                                                      "data-fetched?"]
                  "src/cljs/my_app/forms.cljs"       ["attempt-submit"
                                                      "ajax/post!"]
                  "deps.edn"                         ["my-app.compile-cljs"]}

 :file-not-contains {"src/clj/my_app/main.clj"          ["c3kit.wire.websocket"
                                                         "websocket/service"]
                     "src/cljs/my_app/auth/user.cljs"   ["c3kit.wire.websocket"
                                                         "ws/start!"
                                                         "ws/call!"]
                     "src/cljs/my_app/forms.cljs"       ["c3kit.wire.websocket"
                                                         "ws/call!"]}}
